Detailed System Requirements:

USER (INTERFACE)
-Users like administrators, teachers, tutors and students. 
-Users must have a username and a password.
-Users can login into system.

      Administrators:
        --can manage the system: 
            *adding users, 
            *removing users,
            *adding courses, 
            *removing courses.
        
      Teachers: 
        --can manage courses:
            *adding students 
            *removing students,
            *adding tutors,
            *removing tutors,
            *adding documents,
            *removing documents.        
        --can give assignments. 
        --can manage multiple course in a course term.
        --can view older courses but cannot make any changes. 
      
      Tutors:
        --can view older courses but cannot make any changes.
        --only can view their course materials and assignments. 
        --can be a student in a different course.
        
      Students:
        --Register into system
        --can upload assignments. 
        --can view grades and lecture notes.
      
COURSE (INTERFACE)   
-Courses have a name
-Courses have documents
-Courses have assigments.
        
DOCUMENT (INTERFACE)
-The document can be in different formats like books, files, slides, urls and whiteboard descriptions.
-Documents have a name.
      Books
      Files
      Slides
      Urls
      Whiteboard descriptions.

ASSIGNMENTS (INTERFACE)
-Assignments can be in different formats like quiz, homework or group project.
-Assignments have a name.
-Assignments have a deadline.
-Assignments have a late deadline.
      
      Quiz
      Homework
      Group Project.
        
        
SYSTEM (INTERFACE)
-The system has users like administrators, teachers, tutors and students. 
